<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据检测</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</head>
<body>
    <div id="root">
       <h1>学生信息</h1>

       <button @click="student.age++">年龄加一岁</button>
       <button @click="addsex">添加性别属性:默认值为男</button>
       <button @click="addFriends">在列表首位添加一个朋友</button>
       <button @click="updateFriends">修改第一个朋友的名字</button>
       <button @click="addHobby">添加一个爱好</button>
       <button @click="updateHobby">修改第一个爱好</button>


       <h3>姓名:{{student.name}}</h3>
       <h3>年龄:{{student.age}}</h3>
       <h3 v-if="student.sex">性别:{{student.sex}}</h3>
       <h3>爱好:</h3>
       <ul>
        <li v-for="(h,index) in student.hobby" :key="index">{{h}}</li>
       </ul>

       <h3>朋友:</h3>
       <ul>
        <li v-for="(f,index) in student.friends" :key="index">{{f.name}}+"---"+{{f.age}}</li>
       </ul>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm=new Vue({
            el:'#root',
            data() {
                return {
                    student:{
                        name:'Tom',
                        age:18,
                        hobby:['抽烟','喝酒','烫头'],
                        friends:[
                            {name:'jerry',age:35},
                            {name:'tony',age:36}
                        ]}
                    }
                },methods: {
                    addsex(){
                        //Vue.set(this.student,'sex','男')
                        this.$set(this.student,'sex','男')
                    },
                    addFriends(){
                        this.student.friends.unshift({name:'jack',age:70})
                    },
                    updateFriends(){
                        this.student.friends[0].name='张三'
                    },
                    addHobby(){
                        this.student.hobby.push('开车')
                    },updateHobby(){
                        this.student.hobby.splice(0,1,'打球')
                    }
                },
            })
    </script>
</body>
</html>